@import "../../index.scss";


.Shop{
  @include flex($flex-direction:row, $align-items:center, $justify-content:center );
  zoom: 0.75;
  width: $max-width;
  background: var(--background-bg);

  @media screen and ( max-width:700px ){
    zoom: .5;
  }
 
  form{
    @include flex(column, center, flex-start,2rem);
    width: $max-width;
   
  }
  .form-div{
    @include flex(column, center, flex-start);
    width: $large-width;
    h2{
      text-align: left;
      width: $large-width;
    }
    .input-div{
      @include flex(column, flex-start, flex-start);
      width: $max-width;
      padding: 0.5rem;
      label{
        font-size: var(--span-size);
        font-weight: 900;
        margin-bottom: 10px;
        color: var(--icon-color);
      }
      input,
      select {
          padding: var(--padding-1);
          border-radius: var(--border-radius);
          width: $max-width;
        }
        input {
          border: var(--border);
          outline: none;
          background: var(--background-bg);
        }
    }
    .input-date{
      @include flex(column, center, space-between);
      width: $max-width;
      @media screen and (min-width: 400px){
        @include flex(row, center, space-between);
      }
    }
  }
  
  .Shop-center {
    @include flex(column,center,center);
    width: $max-width;
    padding: var(--padding);
    padding-top: 10rem;
    @media screen and (max-width:250px){
      padding-top: 15rem;
    }
    @media screen and (min-width:700px ) {
      @include flex(row , flex-start, flex-start,1rem);
    }
    @media screen and (min-width:1200px ) {
      width: $small-width;
    }
    .Shop-empty{
      @include flex(column,center,center);
      width: $max-width;
      height: 10rem;
      padding: var(--padding-3);
      background: var(--whiteColor);
      border-radius: var(--border-radius-2);
      box-shadow: var(--box-shadow);
      @media screen and (min-width:1200px ) {
        width: 75%;
      }
      @media screen and (max-width:400px){
        width: $max-width;
        height: 15rem;
      }
      .alert{
        @include flex(row,center, space-around,2rem);
        width: $max-width;
        @media screen and (max-width:700px){
          @include flex(column);
        }
        @media screen and (min-width:1200px ) {
          h2{
            text-align: center; 
           }
           button{
            width: $xsmall-width;
           }
        }
        h2 {
          text-transform: capitalize;
        }
        button{
          @include button;
          background:var(--purple-bg) ;
          color: var(--whiteColor);
          border-radius: var(--border-radius-3);
          transition: 0.4s ease;
          &:hover{
            transform: scale(0.96);
            background: var(--purple-hover);
          }
          span{
            text-shadow: var(--text-shadow);
            font-size: var(--span-size);
            font-weight: bold;
          }
        }
      }
    }
    .Shop-product{
     @include flex(column,center,flex-start,2rem);
     width: $max-width;
     @media  screen and (min-width: 1200px) {
      width: $xxsmal-width;
     }
     padding: var(--padding);
     .Shop-item-main {
      @include flex( row, center, space-between);
      width: $max-width;
      height: 10rem;
      background: var(--whiteColor);
      padding: 2rem;
      border-radius: var(--border-radius-2);
      box-shadow: var(--box-shadow);
      @media screen and (max-width:250px){
       height: 30rem;
      }
      @media screen and (max-width:400px){
        @include flex( column);
        height: 24rem;
       }

      .Shop-item-seciton{
        @include flex( row, center, center, 1rem);
        height: 100%;
        @media screen and (max-width:400px) {
          @include flex( column);
          width: $max-width;
          height: 50%;
          margin-bottom: 1rem;
          span{
            font-weight: 800;
            font-size:var(--span-size);
          }
        }
        span{
          font-weight: bold;
          white-space: nowrap;
        }
        img{
          width: $max-width;
          height:$max-width;;
          object-fit: cover;
        }
      }
      .Shop-btn-amount{
        @include flex( row, center, space-between);
        width: 40% ;
        @media screen and (max-width:250px){
          @include flex(column);
        }
        @media screen and (max-width:400px){
          width:$medium-width ;
        }
        .Shop-button{
          @include flex(column, center, center, 1rem);
          .buttons{
            @include flex( row, center,center,0.5rem);
            width: $max-width;
            button{
              @include button;
              width: 30%;
              height: 2.5rem;
              padding: 0rem;
              border-radius: var(--border-radius-3);
              background: var(--whiteColorDeam);
              &:active {
                transform: scale(0.9);
              }
            }
            span {
              font-size:var(--span-size);
            }
          }
          span {
            font-weight: 600;
            width: 30px;
            text-align: center;
          }
        }
      }
      .Shop-amount{
        @include flex(column, center, center, 1rem);
      }
     }
     .clear-button{
      @media screen and (max-width:400px) {
        @include flex(row, center, center);
        width: $max-width;
        button{
          width: $max-width;
        }
      }
      button{
        transition: 3s;
        .icon{
          font-size: var(--span-size);
          color: var(--whiteColor);
        }
            
        &:hover{
          @include button-danger
        }
      }
     }
    }
    
  }
  .Payment-form{
    @include flex(column ,center);
    width: $max-width;
    height: 10rem0;
    padding: var(--padding);
    @media screen and (min-width: 700px) {
      width: 25%;
      height: 90vh;
       @include flex(column ,flex-start,flex-start);
    }
    @media screen and (min-width: 1200px) {
      width: 400px;
      height: 90vh;
   }

    .Payment-form-section{
      @include flex(column ,flex-start,space-between ,1rem);
      width: $max-width;
      height: 10rem;
      background: var(--whiteColor);
      border-radius: var(--border-radius-2);
      box-shadow:var(--box-shadow);
      padding: var(--padding);
      .total{
        @include flex(row ,center,flex-start,3rem);
          h4{
            white-space: nowrap;
          }
      }
      h2 {
        color: var(--dark);
      }
      h4:nth-child(1) {
        color: var(--dark);
      }
      button{
        @include button;
       
        width: $max-width;
        padding: var(--padding-1);
        font-size: var(--span-size);
        font-weight: 900;
        border-radius: var(--border-radius-2);
        color: var(--whiteColor);
      }
    }
  }
  .Payment{
    width: $max-width;
    @include flex(column, center,flex-start);
    @media screen and ( min-width: 800px ) {
      width: $small-width;
      margin-bottom: 1rem;
    }
    @media screen and ( min-width: 1200px ) {
      width: $xsmall-width;
    }

    .Payment-method{
      position: relative;
      top: 8rem;
      @include flex(column, center,flex-start);
      width: $max-width ;
      padding: var(--padding);
      background: var(--whiteColor);
      margin-bottom: 8rem;
      .invoice{
        @include flex(row, center,space-between);
        width:$max-width ;
        .payment-info{
          @include flex(column, flex-start);
          width: 30% ;
          padding: var(--padding);
          h2{
            margin-bottom: var(--margin-b);
          }
          .summary{
            @include flex(column, flex-start, space-between, 1rem);
            width:$max-width ;
            .summary-location {
              @include flex(column, center);
              width:$medium-width;
              border: var(--border);
              padding: var(--padding);
  
            }
          }
          .total{
            @include flex(row, center, space-around);
            margin-top: 2rem;
            width:$large-width ;
            border: var(--border);
            padding: var(--padding);
  
          }
        }
      }
    }
    .Payment-information{
      @include flex(column, center);
      width:$max-width ;
      margin-top: 3rem;
      @media screen and ( min-width: 800px ) {
        @include flex(row, flex-start, space-between);
      }
      .Payment-Card{
        @include flex(row, center);
        width: $max-width ;
        .card-flex {
          @include flex(row, flex-start, flex-start);
          width: $medium-width ;
          h2 {
            margin-bottom: var(--margin-b);
          }
          .icon {
            cursor: default;
            margin-left: var(--margin-b);
            color: var(--icon-color);
          }
        }
        .Payment-Card-Section {
          @include flex(column, center, flex-start, 2rem);
          width: $max-width ;
          .btn {
            width: $large-width ;
          }
          .address{
            @include flex(column, flex-start, flex-start);
            width: $medium-width ;
           
            margin-right: var(--margin-b);
            h4 {
              margin-top: 1rem;
              margin-bottom: 0.5rem;
              width: max-content;
              border-bottom: var(--border);
            }
          }
          .cardInfo{
            width:$large-width ;
            @include flex(column , flex-start,flex-start, 1rem);
            .card-flex{
              @include flex(row,flex-start, flex-start);
              h2 {
                margin-bottom: var(--margin-b);
              }
              .icon {
                cursor: default;
                 margin-left: var(--margin-b);
                color: var(--icon-color);
              }
            }
            .bank-card{
              @include flex(row, flex-start, space-between);
              padding-top:4rem;
              padding-left: 2rem;
              zoom: 0.8;
              width:$large-width ;
              background: var(--whiteColorDeam-2);
              border-radius: var(--border-radius);
              min-height: 15rem;
              @media screen and (max-width:250px) {
                @include flex(column, flex-start, space-between,1rem);
              }
              div{
                width: 30%;
                @include flex(column, flex-start, center);
                @media screen and (max-width:250px) {
                  width:$max-width ;
                }
                h4 {
                  font-size: var(--span-size);
                  font-weight: 900;
                }
                span {
                  font-size: var(--span-size);
                  font-weight: 800;
                  color: var(--icon-color);
                }
              }
            }
          }
  
        }
      }
      .Payment-info{
        width: $medium-width ;
        @include flex(column, flex-start,flex-start,1rem);
        @media screen and (min-width: 400px){
          margin-left: 3rem;
        }
        .info-header{
          @include flex(row, center,flex-start);
          .icon{
            margin-left: 1rem;
            color: var(--icon-color);
            font-size: 30px;
        }
      } 
      .summary{
        .summary-header{
          @include flex(row, flex-start,flex-start,1rem);
          width:$max-width ;
          @media screen and (min-width: 800px) {
            width: $large-width ;
            span{
              &::before{
                  content: "|";
              }
             }
          }
        }
      }
       .total{
        background: var(--cardBG);
       width: $large-width;
        @include flex(row, flex-start, flex-start , 2rem);
        padding: var(--padding-2); 
        border-radius: var(--border-radius);
        border: var(--border);
        span{
          font-weight: 900;
          font-size: var(--span-size);
      }
      }   
     } 
    }
  }
}

