@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --PrimaryColor: rgb(0, 115, 168);
  --SecondaryColor: rgb(16, 181, 203);
  --gradientColor: linear-gradient( to right, rgb(16, 181, 203), rgb(0, 115, 168));
  --whiteColor: rgb(255, 255, 255);
  --blackColor: rgb(27, 45, 54);
  --textColor: rgb(37, 37, 39);
  --whiteColorDeam: rgb(237, 237, 237);
  --whiteColorDeam-2: rgb(215, 215, 215);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --background-bg: rgb(244, 244, 244);
  --cardBG: rgb(225, 225, 235);
  --dark: rgba(0, 0, 0, 0.688);
  --icon-color: rgb(75, 75, 75);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding: 1.5rem 0rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
}

.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}

.btn:hover {
  background: var(--SecondaryColor);
}

img video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background: rgb(255, 255, 255);
}

@media screen and (min-width: 1400px) {
  body {
    zoom: 1;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .seciton {
    padding: 6rem 0 4rem;
  }
}
.Shop {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
  background: var(--cardBG);
  zoom: 0.75;
}
.Shop form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}
.Shop form .form-div {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Shop form .form-div h2 {
  text-align: left;
  width: 95%;
}
.Shop form .form-div .input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 0.5rem;
  width: 100%;
}
.Shop form .form-div .input-div label {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  color: var(--icon-color);
}
.Shop form .form-div .input-div input,
.Shop form .form-div .input-div select {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 100%;
}
.Shop form .form-div .input-div input {
  border: 1px solid rgb(181, 181, 181);
  outline: none;
  background: var(--background-bg);
}
.Shop form .form-div .input-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Shop form button {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.Shop form button:active {
  transform: scale(0.98);
}
.Shop .Shop-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  padding-top: 10rem;
}
.Shop .Shop-center .Shop-empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5rem;
  justify-content: center;
  height: 10rem;
  background: var(--whiteColor);
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.Shop .Shop-center .Shop-empty .alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 80%;
}
.Shop .Shop-center .Shop-empty .alert h2 {
  text-transform: capitalize;
}
.Shop .Shop-center .Shop-empty .alert button {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  color: var(--whiteColor);
  background: -webkit-linear-gradient(181deg, rgb(92, 63, 150) 24%, rgb(1, 130, 156) 100%);
  border-radius: 3rem;
  transition: 0.4s ease;
}
.Shop .Shop-center .Shop-empty .alert button:hover {
  transform: scale(0.96);
  background: -webkit-linear-gradient(181deg, rgb(63, 150, 98) 0%, rgb(0, 125, 150) 100%);
}
.Shop .Shop-center .Shop-empty .alert button span {
  text-shadow: 1px 0px 8px black;
  font-size: 20px;
  font-weight: bold;
}
.Shop .Shop-center .Shop-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}
.Shop .Shop-center .Shop-product .Shop-item-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  background: var(--whiteColor);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.Shop .Shop-center .Shop-product .Shop-item-main .Shop-item-seciton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
.Shop .Shop-center .Shop-product .Shop-item-main .Shop-item-seciton span {
  font-weight: bold;
  white-space: nowrap;
}
.Shop .Shop-center .Shop-product .Shop-item-main .Shop-item-seciton img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Shop .Shop-center .Shop-product .Shop-item-main .Shop-btn-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.Shop .Shop-center .Shop-product .Shop-item-main .Shop-btn-amount .Shop-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.Shop .Shop-center .Shop-product .Shop-item-main .Shop-btn-amount .Shop-button .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.Shop .Shop-center .Shop-product .Shop-item-main .Shop-btn-amount .Shop-button .buttons button {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 3rem;
  width: 30%;
  height: 2.5rem;
  background: var(--whiteColorDeam);
  cursor: pointer;
}
.Shop .Shop-center .Shop-product .Shop-item-main .Shop-btn-amount .Shop-button .buttons button:active {
  transform: scale(0.9);
}
.Shop .Shop-center .Shop-product .Shop-item-main .Shop-btn-amount .Shop-button .buttons button span {
  font-size: 20px;
}
.Shop .Shop-center .Shop-product .Shop-item-main .Shop-btn-amount .Shop-button .buttons span {
  font-weight: 600;
  width: 30px;
  text-align: center;
}
.Shop .Shop-center .Shop-product .Shop-item-main .Shop-btn-amount .Shop-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.Shop .Shop-center .Shop-product .Shop-item-main .clear-button button {
  transition: 3s;
}
.Shop .Shop-center .Shop-product .Shop-item-main .clear-button button .icon {
  font-size: 20px;
  color: var(--whiteColor);
}
.Shop .Shop-center .Shop-product .Shop-item-main .clear-button button:hover {
  background: -o-linear-gradient(205deg, rgb(255, 146, 0) 0%, rgb(248, 190, 0) 48%, rgb(255, 154, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FF9A00", endColorstr="#FF9200", GradientType=1 );
  background: linear-gradient(205deg, rgb(255, 146, 0) 0%, rgb(248, 190, 0) 48%, rgb(255, 154, 0) 100%);
}
.Shop .Shop-center .Shop-product .Shop-item-main .clear-button button:hover .icon {
  color: rgba(0, 0, 0, 0.701);
}
.Shop .Shop-center .Payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 1rem;
}
.Shop .Shop-center .Payment-form .Payment-form-section {
  background: var(--whiteColor);
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
}
.Shop .Shop-center .Payment-form .Payment-form-section .total {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.Shop .Shop-center .Payment-form .Payment-form-section h2 {
  color: var(--dark);
}
.Shop .Shop-center .Payment-form .Payment-form-section h4:nth-child(1) {
  color: var(--dark);
}
.Shop .Shop-center .Payment-form .Payment-form-section button {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
  font-weight: 900;
  border-radius: 5px;
  color: var(--whiteColor);
}
.Shop .Payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Shop .Payment .Payment-method {
  position: relative;
  top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
  background: var(--whiteColor);
  margin-bottom: 8rem;
}
.Shop .Payment .Payment-method .invoice {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.Shop .Payment .Payment-method .invoice .payment-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 1rem;
}
.Shop .Payment .Payment-method .invoice .payment-info h2 {
  margin-bottom: 1rem;
}
.Shop .Payment .Payment-method .invoice .payment-info .summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.Shop .Payment .Payment-method .invoice .payment-info .summary .summary-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border: 1px solid rgb(181, 181, 181);
  padding: 1rem;
}
.Shop .Payment .Payment-method .invoice .payment-info .total {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  border: 1px solid rgb(181, 181, 181);
  padding: 1rem;
}
.Shop .Payment .Payment-method .invoice .payment-info .total span {
  font-weight: 800;
}
.Shop .Payment .Payment-method .Payment-information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .card-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .card-flex h2 {
  margin-bottom: 1rem;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .card-flex .icon {
  cursor: default;
  margin-left: 1rem;
  color: var(--icon-color);
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 90%;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .btn {
  width: 95%;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .address {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  margin-right: 1rem;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .address h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 1px solid rgb(181, 181, 181);
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .cardInfo {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 1rem;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .cardInfo .card-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .cardInfo .card-flex h2 {
  margin-bottom: 1rem;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .cardInfo .card-flex .icon {
  cursor: default;
  margin-left: 1rem;
  color: var(--icon-color);
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .cardInfo .bank-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  zoom: 0.8;
  width: 95%;
  border: 1px solid rgb(181, 181, 181);
  padding: 4rem 2rem 2rem 2rem;
  background: var(--whiteColorDeam-2);
  min-height: 15rem;
  border-radius: 10px;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .cardInfo .bank-card div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: center;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .cardInfo .bank-card div h4 {
  font-size: 20px;
  font-weight: 900;
}
.Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .cardInfo .bank-card div span {
  font-size: 20px;
  font-weight: 800;
  color: var(--icon-color);
}
.Shop .Payment .Payment-method .Payment-information .Payment-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 1rem;
}
.Shop .Payment .Payment-method .Payment-information .Payment-info .info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Shop .Payment .Payment-method .Payment-information .Payment-info .info-header .icon {
  margin-left: 1rem;
  color: var(--icon-color);
  font-size: 30px;
}
.Shop .Payment .Payment-method .Payment-information .Payment-info .summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.Shop .Payment .Payment-method .Payment-information .Payment-info .summary .summary-location {
  align-items: flex-start;
  border: 1px solid rgb(181, 181, 181);
  padding: 1rem;
  border-radius: 10px;
}
.Shop .Payment .Payment-method .Payment-information .Payment-info .summary .summary-location p {
  font-weight: 500;
}
.Shop .Payment .Payment-method .Payment-information .Payment-info .summary .summary-location .summary-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
.Shop .Payment .Payment-method .Payment-information .Payment-info .summary .summary-location .summary-header span {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.Shop .Payment .Payment-method .Payment-information .Payment-info .summary .summary-location .summary-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  font-weight: 600;
}
.Shop .Payment .Payment-method .Payment-information .Payment-info .total {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  border: 1px solid rgb(181, 181, 181);
  background: var(--cardBG);
  border-radius: 10px;
}
.Shop .Payment .Payment-method .Payment-information .Payment-info .total span {
  font-weight: 900;
  font-size: 20px;
}
@media screen and (min-width: 800px) {
  .Shop .Shop .Payment {
    width: 80%;
  }
  .Shop .Shop .Payment .Payment-method {
    width: 80%;
  }
  .Shop .Shop .Payment .Payment-method .Payment-information {
    display: flex;
    flex-direction: row;
  }
  .Shop .Shop .Payment .Payment-method .Payment-information .Payment-info .summary .summary-location .summary-header {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
  .Shop .Shop .Payment .Payment-method .Payment-information .Payment-info .summary .summary-location .summary-header span::before {
    content: "|";
  }
  .Shop .Shop .Payment .Payment-method .Payment-information .Payment-info .summary .summary-location .summary-body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 700px) {
  .Shop .Shop {
    justify-content: center;
  }
  .Shop .Shop .Payment {
    width: 80%;
    margin-bottom: 1rem;
  }
  .Shop .Shop .Shop-center {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
  }
  .Shop .Shop .Shop-center .Payment-form {
    width: 40%;
    height: 90vh;
  }
}
@media screen and (min-width: 1200px) {
  .Shop .Shop {
    justify-content: center;
  }
  .Shop .Shop .Shop-center {
    width: 80%;
    flex-direction: row;
    align-items: flex-start;
  }
  .Shop .Shop .Shop-center .Payment-form {
    width: 25%;
    height: 90vh;
  }
  .Shop .Shop .Shop-center .Shop-empty {
    width: 70%;
    padding-left: 0;
  }
  .Shop .Shop .Shop-center .Shop-empty .alert h2 {
    text-align: center;
  }
  .Shop .Shop .Shop-center .Shop-empty .alert button {
    width: 70%;
  }
  .Shop .Shop .Shop-center .Shop-product {
    width: 60%;
  }
  .Shop .Shop .Shop-center .Payment-form {
    width: 400px;
    height: 90vh;
  }
  .Shop .Shop .Payment {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .Shop .Shop {
    zoom: 0.5;
  }
  .Shop .Shop .Shop-center .Shop-empty .alert {
    flex-direction: column;
  }
  .Shop .Shop .Shop-center .Shop-empty .alert h2 {
    text-align: center;
  }
  .Shop .Shop .Shop-center .Shop-empty .alert button {
    width: 70%;
  }
}
@media screen and (min-width: 400px) {
  .Shop .Payment .Payment-method .Payment-information .Payment-info {
    margin-left: 3rem;
  }
  .Shop .Payment .Payment-method .Payment-information .Payment-info .summary {
    width: 95%;
  }
  .Shop .Shop form .form-div .input-date {
    flex-direction: row;
  }
  .Shop .Shop form .btn {
    width: 95%;
  }
}
@media screen and (max-width: 250px) {
  .Shop .Shop .Shop-center {
    padding-top: 15rem;
  }
  .Shop .Shop .Shop-center .Shop-product .Shop-item-main {
    height: 30rem !important;
  }
  .Shop .Shop .Shop-center .Shop-product .Shop-item-main .Shop-btn-amount {
    flex-direction: column;
  }
  .Shop .Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .cardInfo .bank-card {
    flex-direction: column;
    gap: 1rem;
  }
  .Shop .Shop .Payment .Payment-method .Payment-information .Payment-Card .Payment-Card-Section .cardInfo .bank-card div {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .Shop .Shop .Shop-center .Shop-empty {
    height: 15rem;
    padding-left: 0;
  }
  .Shop .Shop .Shop-center .Shop-empty .alert {
    flex-direction: column;
  }
  .Shop .Shop .Shop-center .Shop-empty .alert h2 {
    text-align: center;
  }
  .Shop .Shop .Shop-center .Shop-empty .alert button {
    width: 70%;
  }
  .Shop .Shop .Shop-center .Shop-product .Shop-item-main {
    flex-direction: column;
    height: 24rem;
  }
  .Shop .Shop .Shop-center .Shop-product .Shop-item-main .Shop-item-seciton {
    height: 50%;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }
  .Shop .Shop .Shop-center .Shop-product .Shop-item-main .Shop-item-seciton span {
    font-weight: 800;
    font-size: 20px;
  }
  .Shop .Shop .Shop-center .Shop-product .Shop-item-main .Shop-btn-amount {
    justify-content: space-between;
    width: 90%;
    gap: 0;
  }
  .Shop .Shop .Shop-center .Shop-product .Shop-item-main .clear-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Shop .Shop .Shop-center .Shop-product .Shop-item-main .clear-button button {
    width: 100%;
  }
}/*# sourceMappingURL=shop.css.map */