@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: linear-gradient(to right, rgb(16, 181, 203), rgb(0, 115, 168));
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
}

.btn a {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.btn:hover {
  background: rgb(16, 181, 203);
}

img video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background: rgb(255, 255, 255);
}

@media screen and (min-width: 1400px) {
  .container {
    width: 80%;
    margin: auto;
  }
  .section {
    padding: 6rem 0 4rem;
  }
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.footer .videoDiv {
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer .videoDiv video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .videoDiv::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(10, 84, 107);
  mix-blend-mode: hard-light;
}
.footer .secContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: inherit;
  width: 60%;
  height: -moz-max-content;
  height: max-content;
  padding: 2rem 0;
  margin: auto;
  row-gap: 2rem;
  z-index: 100;
}
.footer .secContent .contactDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.footer .secContent .contactDiv .text small {
  font-size: 13px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.footer .secContent .contactDiv .text h2 {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
}
.footer .secContent .contactDiv .inputDiv {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .secContent .contactDiv .inputDiv input {
  width: 100%;
  padding: 0.5rem 0.6rem;
  border: 1px solid rgb(255, 255, 255);
  background: transparent;
  border-radius: 3rem;
  color: rgb(255, 255, 255);
}
.footer .secContent .contactDiv .inputDiv input::-moz-placeholder {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.footer .secContent .contactDiv .inputDiv input::placeholder {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.footer .secContent .contactDiv .inputDiv .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(255, 255, 255);
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
.footer .secContent .contactDiv .inputDiv .btn .icon {
  font-size: 14px;
}
.footer .secContent .contactDiv .inputDiv .btn:hover {
  background: rgb(0, 115, 168);
}
.footer .secContent .footerCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 1rem 4rem;
  gap: 2rem;
  border-radius: 1rem;
  background: rgb(240, 240, 240);
  width: 100%;
  overflow: hidden;
}
.footer .secContent .footerCard .footerIntro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 50%;
  row-gap: 0.5rem;
}
.footer .secContent .footerCard .logoDiv .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(10, 84, 107);
  font-weight: 600;
}
.footer .secContent .footerCard .logoDiv .logo .icon {
  font-size: 25px;
  color: rgb(0, 115, 168);
  margin-right: 10px;
}
.footer .secContent .footerCard .footerP {
  font-size: 13px;
  color: rgb(37, 37, 39);
}
.footer .secContent .footerCard .footerSocials {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.footer .secContent .footerCard .footerSocials .icon {
  color: rgb(10, 84, 107);
  font-size: 20px;
}
.footer .secContent .footerCard .footerSocials .icon:hover {
  color: rgb(0, 115, 168);
}
.footer .secContent .footerCard .footerLinks {
  flex-basis: 50%;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
@media screen and (min-width: 500px) {
  .footer .secContent .footerCard .footerLinks {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
  }
}
.footer .secContent .footerCard .footerLinks .linkGroup .groupTitle {
  display: block;
  font-weight: 600;
  color: rgb(10, 84, 107);
  margin-bottom: 0.5rem;
}
.footer .secContent .footerCard .footerLinks .linkGroup .footerList {
  font-size: 15px;
  color: rgb(37, 37, 39);
  transition: 0.3s ease-in-out;
}
.footer .secContent .footerCard .footerLinks .linkGroup .footerList .icon {
  font-size: 15px;
  color: rgb(190, 190, 190);
}
.footer .secContent .footerCard .footerLinks .linkGroup .footerList .icon:hover {
  color: rgb(0, 115, 168);
}
.footer .secContent .footerCard .footerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  background: rgb(0, 115, 168);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 2rem;
}
@media (min-width: 500px) {
  .footer .secContent .footerCard .footerDiv {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .secContent .footerCard .footerDiv small {
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
}
.footer .secContent .footerCard .footerDiv small {
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

@media screen and (min-width: 840px) {
  .footer .secContent .footerCard {
    flex-direction: row;
  }
  .footer .secContent .footerCard .footerLinks {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer .secContent .footerCard {
    flex-direction: row;
    padding: 3rem 1rem;
  }
  .footer .secContent .footerCard .footerIntro .footerP {
    font-size: 15px;
    color: rgb(37, 37, 39);
  }
  .footer .secContent .footerCard .footerIntro .footerSocials {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
  .footer .secContent .footerCard .footerIntro .footerSocials .icon {
    color: rgb(37, 37, 39);
    font-size: 25px;
  }
  .footer .secContent .footerCard .footerIntro .footerSocials .icon:hover {
    color: rgb(0, 115, 168);
  }
  .footer .secContent .footerLinks .linkGroup .footerList {
    font-size: 16px;
    padding: 5px 0;
  }
}
@media screen and (max-width: 1240px) {
  .footer .secContent {
    width: 95%;
  }
}
@media screen and (max-width: 370px) {
  .footer .secContent {
    width: 95%;
  }
  .footer .secContent .footerCard .footerLinks {
    flex-direction: column;
  }
}/*# sourceMappingURL=footer.css.map */