$userborder: 1px solid rgba(108, 108, 108, 0.5);
$userBackground: white;
$box-shadow: 0px 5px  5px rgba(0, 0, 0, 0.5);
$border:1px solid rgb(181, 181, 181);
$linear-gradient:  linear-gradient( to right, hsl(187,85%,43%), hsl(199, 100%,33%));
.User{
    position: absolute;
    top: 4.5rem;
    width: 18rem;
    height: 25rem;
    background: $userBackground;
    right: 1rem;
    border: $userborder;
    border-radius: 5px;
    border-top-right-radius: 0;
    box-shadow: $box-shadow;
    padding: 1rem;
    .User-Item{
        display: flex;
        flex-direction: colum;
        align-items: center;
        width: 95%;
      .User-Item-section{
        width: 100%;
        display: flex;
        flex-direction: column;
       .user-profile{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: $border;
        padding-bottom: 1rem;
        img{
          width: 50px;
          border-radius: 30px;
        }
        .user-info{
          display: flex;
          flex-direction: column;
        }
       }
       .user-options{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap:0.3rem;
        padding-bottom: 1rem;
        border-bottom: $border;
         a{
          text-transform: capitalize;
           color: black;
           padding: 0.2rem 0.4rem;
           width: 100%;
           &:hover{
            background: rgb(235, 235, 235);
           }
         }
         .user-box{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          span{
            &:nth-child(2){
              background: $linear-gradient;
              border-radius: 50px;
              width: 1.5rem;
              height: 1.5rem;
              font-weight: 900;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
         }
       }
       .logout{
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 50px;
        border: none;
        outline: none;
        font-weight: 700;
        cursor: pointer;
        color: white;
        background: $linear-gradient ;
        &:active{
          transform: scale(0.98);
        }
      }
      }
   
    }
}

@media screen and (min-width:1200px) {
  .User{
    right: 20%;
     
  }    
}
@media screen and (min-width:2000px) {
    .User{
      right: 25%;
       
    }    
  }