@import "../../index.scss";

.User {
  position: absolute;
  top: 4.5rem;
  width: 18rem;
  height: 25rem;
  background: var(--whiteColor);
  right: 1rem;
  border: $userborder;
  border-radius: $border-radius-2;
  border-top-right-radius: 0;
  box-shadow: $box-shadow;
  padding: $padding;
  .User-Item {
    @include column;
    width: $large-width;
    .User-Item-section {
      width: $max-width;
      @include column;
      .user-profile {
        width: $max-width;
        @include row();
        justify-content: space-between;
        border-bottom: $border;
        padding-bottom: $padding;
        img {
          width: 50px;
          border-radius: $border-radius-3;
        }
        .user-info {
          @include column;
          align-items: flex-start;
        }
      }
      .user-options {
        width: $medium-width;
        @include column;
        margin-top: $ma;
        gap: 0.3rem;
        padding-bottom: $padding;
        border-bottom: $border;
        a {
          text-transform: capitalize;
          color: var(--dark);
          padding: 0.2rem 0.4rem;
          width: $max-width;
          &:hover {
            background: var(--cardBG);
          }
        }
        .user-box {
          @include row;
          justify-content: space-between;
          span {
            &:nth-child(2) {
              background: $linear-gradient;
              border-radius: $border-radius-3;
              width: 1.5rem;
              height: 1.5rem;
              font-weight: 900;
              color: var(--whiteColor);
              @include column;
              justify-content: center;
            }
          }
        }
      }
      .logout {
        width: $medium-width;
        margin-top: 1rem;
        padding: $padding-1;
        border-radius: $border-radius-3;
        @include default();
        font-weight: 700;
        cursor: pointer;
        color: var(--whiteColor);
        background: $linear-gradient;
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .User {
    right: 20%;
  }
}
@media screen and (min-width: 2000px) {
  .User {
    right: 25%;
  }
}
