@import "../index.scss";
.header {
  @include responsive-flex(row,center,space-between,1240px){
    @include flex-reverse($justifyContent:space-around); 
  };
  position: fixed;
  background: $whiteColor;
  width: weight(max);
  padding: 0.5rem;
  height: header;
  z-index: 1000;
  box-shadow: $navbarShadow;
  zoom: 0.75;
  .logo {
    color: $blackColor;
    font-weight: 600;
    cursor: pointer;
    @include responsive-flex(row,center,center);   
    .icon {
      font-size: 25px;
      color: $PrimaryColor;
      transform: translateY(5px);
    }

  }
  
  @include tablet-2{
    .navBar {
      padding: 1rem;
      position: absolute;
      background: $whiteColorDeam;
      height: max-content;
      width: weight(small);
      border-radius: 1rem;
      top: -500rem;
      left: 50%;
      transform: translate(-50%);
      z-index: 2000;
      box-shadow: $navbarShadow;
      transition: 0.9s ease-in-out;
      .navList {
        @include responsive-flex(column,center,center);   
        width: weight(max);
        margin: auto;
        padding: 0.5rem 0;
        .navItem {
          padding: 0.5rem 0rem;
          .navLink {
            font-size: 0.9rem;
            color: $textColor;
            font-weight: 600;
            &:hover {
              color: $PrimaryColor;
            }
          }
        }
        .btn {
          margin-top: 1rem;
          a {
            font-weight: 600;
            color: $whiteColor;
          }
        }
      }
      .closeNavbar {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: $PrimaryColor;
        &:hover {
          color: $blackColor;
        }
      }
    }
    .activeNavbar {
      top: 7rem;
    }

    .toogleNavbar {
      display: flex;
      .icon {
        font-size: 25px;
        cursor: pointer;
        color: $PrimaryColor;
      }
      &:hover {
        color: $SecondaryColor;
      }
    }
  }
  
  @media screen and (min-width: 769px) {
    .closeNavbar,
    .toogleNavbar {
      display: none;
    }
    .navBar {
      .navList {
        @include responsive-flex(row,center,center);
        gap: 1rem;
        .navItem {
          .navLink {
            color: $textColor;
            padding: 0 0.45rem;
            font-size: 0.9rem;
            font-weight: 500px;
            &:hover {
              color: $PrimaryColor;
            }
          }
        }
        .btn {
          margin-left: 1rem;
          a {
            color: $whiteColor;
            font-weight: 500;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .navbar {
      .navList {
        .navItem {
          padding: 0, 0.9rem;
        }
      }
    }
  }
 
}
