.Main {
  width: 100%;
}
.Main .Main_Section_Title .title {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  color: var(--textColor);
  margin: 1rem;
  z-index: 2;
}
.Main .Main_Section_Title .title::after {
  position: absolute;
  content: "";
  background: var(--SecondaryColor);
  height: 3px;
  width: 110px;
  right: 0;
  bottom: 0px;
  z-index: -1;
}
.Main .Main_Section_Content {
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}
.Main .Main_Section_Content .Main_Content-Items {
  padding: 1rem;
  height: 100%;
  display: grid;
  row-gap: 10px;
  border-radius: 10px;
  align-items: center;
  background: var(--cardBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.9);
  overflow: hidden;
}
.Main .Main_Section_Content .Main_Content-Items:hover {
  background: var(--cardHover);
  box-shadow: 0 2px 4px rgba(85, 85, 114, 0.9);
  transition: 0.3s ease;
}
.Main .Main_Section_Content .Main_Content-Items .imageDiv {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.Main .Main_Section_Content .Main_Content-Items .imageDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s ease;
}
.Main .Main_Section_Content .Main_Content-Items .imageDiv:hover img {
  transform: scale(1.1);
}
.Main .Main_Section_Content .Main_Content-Items .cardInfo {
  padding: 1rem;
}
.Main .Main_Section_Content .Main_Content-Items .cardInfo .title {
  color: var(--blackColor);
  font-size: 1.25rem;
}
.Main .Main_Section_Content .Main_Content-Items .cardInfo .name {
  color: var(--textColor);
  font-weight: 400;
  font-size: 14px;
}
.Main .Main_Section_Content .Main_Content-Items .fees {
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  border-top: 1.5px solid var(--greyText);
  border-bottom: 1.5px solid var(--greyText);
}
.Main .Main_Section_Content .Main_Content-Items .fees .grade {
  color: var(--textColor);
  max-width: 100px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.Main .Main_Section_Content .Main_Content-Items .fees .grade small {
  text-align: center;
  background: var(--gradientColor);
  border-radius: 1rem;
  padding: 1px 10px;
  color: var(--whiteColor);
}
.Main .Main_Section_Content .Main_Content-Items .fees .price {
  font-size: 2rem;
  color: var(--blackColor);
}
.Main .Main_Section_Content .Main_Content-Items .desc {
  font-size: 13.5px;
  color: var(--textColor);
  font-weight: 500;
}
.Main .Main_Section_Content .Main_Content-Items .btn {
  margin-top: 1rem;
  color: var(--whiteColor);
  font-weight: 600;
  gap: 0.5rem;
}
.Main .Main_Section_Content .Main_Content-Items .btn .icon {
  align-self: center;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
  .title::after {
    width: 150px;
  }
  .Main_Section_Content {
    grid-template-columns: repeat(2, 1fr);
  }
  .Main_Section_Content .Main_Content-Items {
    height: auto;
  }
}
@media screen and (min-width: 840px) {
  .Main_Section_Content {
    grid-template-columns: repeat(3, 1fr);
  }
  .Main_Section_Content .Main_Content-Items {
    height: auto;
  }
}
@media screen and (min-width: 1240px) {
  .Main_Section_Content {
    grid-template-columns: repeat(4, 1fr);
  }
  .Main_Section_Content .Main_Content-Items {
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */