@import "../../index.scss";
.home {
  width: $max-width;
  position: relative;
  @include row;
  justify-content: center;
  margin: auto;

  .overlay {
    position: absolute;
    @include largeSize();
    background: var(--SecondaryColor);
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
  }

  video {
    position: absolute;
    @include largeSize();
    top: 0;
    bottom: 0;
    object-fit: cover;
  }

  .homeContent {
    width: $large-width;
    height: max-content;
    padding: 3rem 1.5rem 3rem;
    row-gap: 3rem;
    @include column();
    align-items: stretch;
    justify-content: center;
    margin: auto;
    z-index: 100;
    color: var(--whiteColor);

    .textDiv {
      padding: 4rem;
      .smallText {
        font-size: 13px;
        text-transform: uppercase;
      }

      .homeTitle {
        position: relative;
        font-size: 1.8rem;
      }
    }

    .cardDiv {
      position: relative;
      padding: $padding-2;
      background: var(--whiteColor);
      border-radius: $border-radius;
      gap: 1rem;

      label {
        display: block;
        color: var(--textColor);
        padding-bottom: $padding;
        font-size: 14px;
        font-weight: 500;
      }

      .label_total {
        justify-content: space-between;
        align-items: center;

        .total {
          font-size: 18px;
          color: var(--blackColor);
          padding-bottom: $padding;
        }
      }

      .input {
        height: 40px;
        padding: $padding-1;
        background: var(--inputColor);
        border-radius: $border-radius-3;

        input {
          width: $max-width;
          background: none;
          @include default();
          font-size: 13px;

          &::placeholder {
            font-size: 13px;
          }
          &:hover {
            cursor: poniter;
          }
        }

        .icon {
          color: var(--PrimaryColor);
          font-size: 18px;
          margin-left: 10px;
        }
      }

      .searchOption {
        @include default();
        position: absolute;
        background: var(--gradientColor);
        width: max-content;
        bottom: -0.7rem;
        padding: $padding-1;
        column-gap: 1rem;
        border-radius: $border-radius-3;
        left: 50%;
        transform: translate(-50%);
        justify-content: center;
        color: var(--whiteColor);
        font-weight: 700;
        &:hover {
          background: var(--PrimaryColor);
          cursor: pointer;
        }
        .icon {
          font-size: 18px;
        }
        span {
          font-size: 13px;
          cursor: pointer;
        }
      }
    }
    .danger {
      @include row();
      justify-content: center;
      background: rgb(235, 200, 196, 0.8);
      border: 1px solid rgb(236, 142, 142);
      padding: $padding;
      border-radius: $border-radius-2;
      h3 {
        color: rgb(177, 81, 81);
      }
    }

    .homeFooterIcons {
      width: $max-width;
      justify-content: space-between;
      .icon {
        font-size: $span-size;
        margin: 0 5px;
        color: var(--whiteColor);
        font-weight: 600;
        &:hover {
          color: var(--PrimaryColor);
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .home {
    .homeContent {
      .textDiv {
        .smallText {
          font-size: 16px;
        }
        .homeTitle {
          position: relative;
          font-size: 2.3rem;
          width: max-content;
          &::after {
            position: absolute;
            content: "";
            background: var(--SecondaryColor);
            width: 145px;
            height: 3px;
            right: 0;
            bottom: 5px;
            z-index: -1;
          }
        }
      }
      .cardDiv {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media screen and (min-width: 660px) {
  .home {
    .homeContent {
      .cardDiv {
        padding: $padding-2;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
@media screen and (min-width: 940px) {
  .home {
    height: 80vh;
  }
}

@media screen and (min-width: 1240px) {
  .home {
    height: 95vh;
    .homeContent {
      width: $xsmall-width;
      .cardDiv {
        padding: $padding-2;
        grid-template-columns: repeat(3, 1fr);
        .input {
          margin-bottom: $margin-b;
        }
        .searchOption {
          bottom: -1rem;
          padding: $padding-1;
          span {
            font-size: $span-size;
          }
        }
      }
    }
  }
}
