@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --PrimaryColor: rgb(0, 115, 168);
  --SecondaryColor: rgb(16, 181, 203);
  --gradientColor: linear-gradient( to right, rgb(16, 181, 203), rgb(0, 115, 168));
  --whiteColor: rgb(255, 255, 255);
  --blackColor: rgb(27, 45, 54);
  --textColor: rgb(37, 37, 39);
  --whiteColorDeam: rgb(237, 237, 237);
  --whiteColorDeam-2: rgb(215, 215, 215);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --background-bg: rgb(244, 244, 244);
  --cardBG: rgb(225, 225, 235);
  --dark: rgba(0, 0, 0, 0.688);
  --icon-color: rgb(75, 75, 75);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding: 1.5rem 0rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
}

.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}

.btn:hover {
  background: var(--SecondaryColor);
}

img video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background: rgb(255, 255, 255);
}

@media screen and (min-width: 1400px) {
  body {
    zoom: 1;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .seciton {
    padding: 6rem 0 4rem;
  }
}
.home {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--SecondaryColor);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.home video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .homeContent {
  width: 95%;
  height: -moz-max-content;
  height: max-content;
  padding: 3rem 1.5rem 3rem;
  row-gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  z-index: 100;
  color: var(--whiteColor);
}
.home .homeContent .textDiv {
  padding: 4rem;
}
.home .homeContent .textDiv .smallText {
  font-size: 13px;
  text-transform: uppercase;
}
.home .homeContent .textDiv .homeTitle {
  position: relative;
  font-size: 1.8rem;
}
.home .homeContent .cardDiv {
  position: relative;
  padding: 2rem 1rem;
  background: var(--whiteColor);
  border-radius: 10px;
  gap: 1rem;
}
.home .homeContent .cardDiv label {
  display: block;
  color: var(--textColor);
  padding-bottom: 1rem;
  font-size: 14px;
  font-weight: 500;
}
.home .homeContent .cardDiv .label_total {
  justify-content: space-between;
  align-items: center;
}
.home .homeContent .cardDiv .label_total .total {
  font-size: 18px;
  color: var(--blackColor);
  padding-bottom: 1rem;
}
.home .homeContent .cardDiv .input {
  height: 40px;
  padding: 0.5rem 1rem;
  background: var(--inputColor);
  border-radius: 3rem;
}
.home .homeContent .cardDiv .input input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 13px;
}
.home .homeContent .cardDiv .input input::-moz-placeholder {
  font-size: 13px;
}
.home .homeContent .cardDiv .input input::placeholder {
  font-size: 13px;
}
.home .homeContent .cardDiv .input input:hover {
  cursor: poniter;
}
.home .homeContent .cardDiv .input .icon {
  color: var(--PrimaryColor);
  font-size: 18px;
  margin-left: 10px;
}
.home .homeContent .cardDiv .searchOption {
  border: none;
  outline: none;
  position: absolute;
  background: var(--gradientColor);
  width: -moz-max-content;
  width: max-content;
  bottom: -0.7rem;
  padding: 0.5rem 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  color: var(--whiteColor);
  font-weight: 700;
}
.home .homeContent .cardDiv .searchOption:hover {
  background: var(--PrimaryColor);
  cursor: pointer;
}
.home .homeContent .cardDiv .searchOption .icon {
  font-size: 18px;
}
.home .homeContent .cardDiv .searchOption span {
  font-size: 13px;
  cursor: pointer;
}
.home .homeContent .danger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(235, 200, 196, 0.8);
  border: 1px solid rgb(236, 142, 142);
  padding: 1rem;
  border-radius: 5px;
}
.home .homeContent .danger h3 {
  color: rgb(177, 81, 81);
}
.home .homeContent .homeFooterIcons {
  width: 100%;
  justify-content: space-between;
}
.home .homeContent .homeFooterIcons .icon {
  font-size: 20px;
  margin: 0 5px;
  color: var(--whiteColor);
  font-weight: 600;
}
.home .homeContent .homeFooterIcons .icon:hover {
  color: var(--PrimaryColor);
}

@media screen and (min-width: 500px) {
  .home .homeContent .textDiv .smallText {
    font-size: 16px;
  }
  .home .homeContent .textDiv .homeTitle {
    position: relative;
    font-size: 2.3rem;
    width: -moz-max-content;
    width: max-content;
  }
  .home .homeContent .textDiv .homeTitle::after {
    position: absolute;
    content: "";
    background: var(--SecondaryColor);
    width: 145px;
    height: 3px;
    right: 0;
    bottom: 5px;
    z-index: -1;
  }
  .home .homeContent .cardDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 660px) {
  .home .homeContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 940px) {
  .home {
    height: 80vh;
  }
}
@media screen and (min-width: 1240px) {
  .home {
    height: 95vh;
  }
  .home .homeContent {
    width: 70%;
  }
  .home .homeContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .home .homeContent .cardDiv .input {
    margin-bottom: 1rem;
  }
  .home .homeContent .cardDiv .searchOption {
    bottom: -1rem;
    padding: 0.5rem 1rem;
  }
  .home .homeContent .cardDiv .searchOption span {
    font-size: 20px;
  }
}/*# sourceMappingURL=home.css.map */