@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding: 1.5rem 0rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: linear-gradient(to right, rgb(16, 181, 203), rgb(0, 115, 168));
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
}

.btn a {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.btn:hover {
  background: rgb(16, 181, 203);
}

img video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background: rgb(255, 255, 255);
}

@media screen and (min-width: 1400px) {
  body {
    zoom: 1;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .seciton {
    padding: 6rem 0 4rem;
  }
}
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  width: 100%;
  padding: 1rem;
  height: header;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 61, 127, 0.521);
}
.header .logo {
  color: rgb(27, 45, 54);
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.header .logo .icon {
  font-size: 25px;
  color: rgb(0, 115, 168);
  transform: translateY(5px);
}
@media screen and (max-width: 768px) {
  .header .navBar {
    padding: 1rem;
    position: absolute;
    background: rgb(237, 237, 237);
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.9);
    transition: 0.9s ease-in-out;
  }
  .header .navBar .navList {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navBar .navList .navItem {
    padding: 0.5rem 0rem;
  }
  .header .navBar .navList .navItem .navLink {
    font-size: 0.9rem;
    color: rgb(37, 37, 39);
    font-weight: 600;
  }
  .header .navBar .navList .navItem .navLink:hover {
    color: rgb(0, 115, 168);
  }
  .header .navBar .navList .btn {
    margin-top: 1rem;
  }
  .header .navBar .navList .btn a {
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
  .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: rgb(0, 115, 168);
  }
  .header .navBar .closeNavbar:hover {
    color: rgb(27, 45, 54);
  }
  .header .activeNavbar {
    top: 7rem;
  }
  .header .toogleNavbar {
    display: flex;
  }
  .header .toogleNavbar .icon {
    font-size: 25px;
    cursor: pointer;
    color: rgb(0, 115, 168);
  }
  .header .toogleNavbar:hover {
    color: rgb(16, 181, 203);
  }
}
@media screen and (min-width: 769px) {
  .header .closeNavbar,
  .header .toogleNavbar {
    display: none;
  }
  .header .navBar .navList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }
  .header .navBar .navList .navItem .navLink {
    color: rgb(37, 37, 39);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 500px;
  }
  .header .navBar .navList .navItem .navLink:hover {
    color: rgb(0, 115, 168);
  }
  .header .navBar .navList .btn {
    margin-left: 1rem;
  }
  .header .navBar .navList .btn a {
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
}
@media screen and (min-width: 1000px) {
  .header .navbar .navList .navItem {
    padding: 0, 0.9rem;
  }
}
@media screen and (min-width: 1240px) {
  .header {
    padding: 1rem 8.5rem;
    justify-content: space-around;
  }
}/*# sourceMappingURL=navbar.css.map */