@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: linear-gradient(to right, rgb(16, 181, 203), rgb(0, 115, 168));
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
}

.btn a {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.btn:hover {
  background: rgb(16, 181, 203);
}

img video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background: rgb(255, 255, 255);
}

@media screen and (min-width: 1400px) {
  .container {
    width: 80%;
    margin: auto;
  }
  .section {
    padding: 6rem 0 4rem;
  }
}
.User {
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  width: 18rem;
  height: 25rem;
  background: rgb(237, 237, 237);
  border: 1px solid rgba(108, 108, 108, 0.5);
  border-radius: 5px;
  border-top-right-radius: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.User .User-Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.User .User-Item .User-Item-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.User .User-Item .User-Item-section .user-profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(181, 181, 181);
  padding-bottom: 1rem;
}
.User .User-Item .User-Item-section .user-profile img {
  width: 50px;
  border-radius: 30px;
}
.User .User-Item .User-Item-section .user-profile .user-info {
  display: flex;
  flex-direction: column;
}
.User .User-Item .User-Item-section .user-options {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(181, 181, 181);
}
.User .User-Item .User-Item-section .user-options a {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.779);
  padding: 0.2rem 0.4rem;
  width: 100%;
}
.User .User-Item .User-Item-section .user-options a:hover {
  background: rgb(240, 240, 240);
}
.User .User-Item .User-Item-section .user-options .user-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.User .User-Item .User-Item-section .user-options .user-box span:nth-child(2) {
  background: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  border-radius: 50px;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: 900;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.User .User-Item .User-Item-section .logout {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
}
.User .User-Item .User-Item-section .logout:active {
  transform: scale(0.98);
}

@media screen and (min-width: 1200px) {
  .User {
    right: 20%;
  }
}
@media screen and (min-width: 2000px) {
  .User {
    right: 25%;
  }
}/*# sourceMappingURL=user.css.map */