.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;
    img{
        width: 100%;
        position: absolute;
        top: 0;
        bottom:0 ;
        left: 0;
        right: 0;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }
   
     .Login-Item{
      position: absolute;
      padding: 2rem;
      width: 25rem;
      height: 25rem;
      border: 7px solid transparent; 
      border-image: url(https://images.pexels.com/photos/1731660/pexels-photo-1731660.jpeg?auto=compress&cs=tinysrgb&w=1600)  30 round  ;
    
     }
}