@import "../../index.scss";

.Login {
  @include column;
  justify-content: center;
  width: $max-width;
  height: 95vh;
  img {
    @include largeSize();
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
  }

  .Login-Item {
    position: absolute;
    padding: 2rem;
    width: 25rem;
    height: 25rem;
    border: 4px solid transparent;
    background: rgba(0, 0, 0, 0.126);
    border-radius: $border-radius;
    border: 2px solid rgba(7, 55, 83, 0.222);
    box-shadow: $box-shadow;
    h1 {
      text-align: center;
      margin-bottom: $margin-b;
      color: var(--whiteColor);
      text-shadow: $text-shadow;
    }
    form {
      @include column;
      width: $max-width;
      gap: 1rem;
      margin-top: 2rem;
      .input-div {
        @include column;
        align-items: flex-start;
        width: $medium-width;
        gap: 0.5rem;
        label {
          color: var(--whiteColor);
          text-shadow: $text-shadow;
          width: $max-width;
          font-weight: 700;
        }
        input {
          width: $max-width;
          @include default;
          background: rgba(255, 255, 255, 0.475);
          padding: $padding-1;
          font-weight: 600;
          color: var(--bodyColor);
          text-shadow: $input-text-shadow;
          border-radius: $border-radius;
        }
      }
      button {
        width: $medium-width;
        position: relative;
        top: 1rem;
        padding: $padding-1;
        @include default;
        cursor: pointer;
        transition: transform 0.3s ease;
        @include hover;
      }
      span {
        color: var(--whiteColor);
        font-size: $span-size;
        font-weight: 600;
      }
    }
  }
  .join-btn {
    position: relative;
    top: 2rem;
    @include column();
    width: $max-width;
    justify-content: center;
    a {
      color: var(--whiteColor);
      font-weight: 600;
      text-shadow: $text-shadow;
    }
  }
}
.join-div {
  min-height: 36rem;
  button {
    margin-bottom: $margin-b;
  }
}

@media screen and (max-width: 500px) {
  .Login {
    padding: 1rem;
    .Login-Item {
      margin-top: 3rem;
      width: $large-width;
      height: 30rem;
      form {
        .input-div {
          width: $max-width;
        }
      }
    }
  }
}

@media screen and (max-width: 270px) {
  .Login {
    zoom: 0.8;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 180px) {
  .Login {
    zoom: 0.5;
    padding: $padding;
    .Login-Item {
      margin-top: 20rem;
    }
  }
}
